<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>TTWAK-login</title>
    <link rel="stylesheet" href="../reset.css" />
  </head>
  <body>
    <div class="title-container">
      <div class="title"></div>
      <div class="signin"></div>
    </div>
    <div class="form-container">
      <form method="post" class="post-form" action="{% url 'ttwak:login' %}">
        <div class="name-group">
          <label for="email">이메일 입력</label>
          <input type="email" class="email-input" name="email" value="" />
        </div>
        <div class="password-group">
          <label for="password">비밀번호 입력</label>
          <input type="password" class="password-input" name="password" />
        </div>
        <button type="submit" class="submit-btn"></button>
      </form>
    </div>
  </body>
</html>
